<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Tried emailing one of the authors at
  <a href="http://www.flester.com">Flester Inc.</a>
  Please ask from us help, see the
  <a href="http://railstutorial.org/book">Rails Book</a>.
</p>